<html>
  <body>

    <table>
      <CAPTION>Seahawks across, Patriots down</CAPTION>

      <tr>
        <th></th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
      </tr>

      <% grid.squares.each_with_index do |row, row_index| %>
        <tr>
          <th><%= row_index %></th>
          <% row.each_with_index do |owner, col_index| %>
            <td style="background-color:#<%= box_score_history.grid_color(row_index, col_index) %>;">
              <h3><%= owner %></h3>
              <%= box_score_history.probability(row_index, col_index) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <p>Odds based on <a href="http://www.printyourbrackets.com/best-super-bowl-squares-odds-probabilities.html">past Super Bowl results</a>.</p>

    <table border=1 cellpadding="5">
      <tr>
        <th>Contestant</th>
        <th>Expected Payout</th>
        <th># Squares</th>
        <th>Expected ROI</th>
        <th>Actual Payout</th>
      </tr>
      <% grid.contestants(box_score_history).each do |contestant| %>
        <tr>
          <th><%= contestant.name %></th>
          <td><%= '$%.2f' % contestant.expected_payout %></td>
          <td><%= contestant.num_squares %></td>
          <td><%= '%.2f%' % contestant.expected_roi %></td>
        </tr>
      <% end %>
    </table>

  </body>
</html>
